/* styles/globals.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}

@keyframes movePattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.animated-background {
  background-image: repeating-linear-gradient(
    45deg,
    #ccc,
    #ccc 10px,
    #eee 10px,
    #eee 20px
  );
  animation: movePattern 5s linear infinite;
}
